{% extends 'algoritm/base.html' %}

{% block title %} Графический метод {% endblock %}

{% block content %}
    <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Графический метод</h1>
            <p>
                Графический метод решения задачи линейного программирования основан на геометрической
                интерпретации задачи линейного программирования и применяется в основном при решении
                задач двумерного пространства и только некоторых задач трёхмерного пространства, так
                как довольно трудно построить многогранник решений, который образуется в результате
                пересечения полупространств.
                Задачу пространства размерности больше трёх изобразить графически вообще невозможно.
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Теоретические основы графического метода
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div>
                            Итак, задача линейного программирования. Требуется найти неотрицательные значения переменных
                            <img src="https://function-x.ru/linprog/gm001.gif" alt="">
                            и
                            <img src="https://function-x.ru/linprog/gm002.gif" alt="">
                            , удовлетворяющих системе неравенств
                            <br>
                            <img src="https://function-x.ru/linprog/gm003.gif" alt="...">
                            <br>
                            при которых линейная форма
                            <img src="https://function-x.ru/linprog/gm004.gif" alt="">
                            принимает оптимальное значение.
                            <br>
                            <p>
                                Из теории и практики решения систем линейных неравенств известно,
                                что множество всех решений данной системы, то есть множество пар чисел
                                <img src="https://function-x.ru/linprog/gm001.gif" alt="">
                                и
                                <img src="https://function-x.ru/linprog/gm002.gif" alt="">
                                , удовлетворяющих системе, составляет многоугольник этой системы.
                                Допустим, что это пятиугольник ABCDE (рисунок внизу).
                            </p>
                            <br>
                            <img src="https://function-x.ru/image/graphmeth1.jpg" alt="">
                            <br>
                            Линейная форма
                            <img src="https://function-x.ru/linprog/gm004.gif" alt="">
                            графически означает семейство параллельных между собой прямых.
                            При конкретном числовом значении F линейная форма изобразится в виде некоторой прямой.
                            Каждую из прямых этого семейства принято называть линией уровня.
                            На рисунке построена линия уровня
                            <img src="https://function-x.ru/linprog/gm005.gif" alt="">
                            (чёрного цвета, проходит через начало координат), соответствующая значению F =0.
                            <p></p>
                            <br>
                            <p>
                                Если исходную линию уровня передвигать вправо, то значение F при этом возрастает.
                                Нужное направление движения исходной линии уровня можно установить следующим образом.
                                Коэффициенты при переменных в уравнении прямой служат координатами вектора, перпендикулярного этой прямой.
                                Таким образом, получаем градиент - вектор
                                <img src="https://function-x.ru/linprog/gm006.gif" alt="">
                                (на рисунке бордового цвета). Значения функции F возрастают при перемещении исходной линии уровня в направлении вектора
                                <img src="https://function-x.ru/linprog/gm007.gif" alt="">.
                            </p>
                            <br>
                            <p>
                                Среди прямых упомянутого семейства параллельных прямых прямые mn (зелёного цвета) и MN (красного цвета),
                                которые назовём опорными. Опорными обычно называют такие прямые, которые имеют с многоугольником ABCDE
                                хотя бы одну общую точку, и многоугольник ABCDE целиком лежит по одну сторону от этой прямой.
                                Как видно из чертежа, прямая mn является опорной, так как она касается многоугольника в точке A
                                и многоугольник целиком лежит правее (или выше) этой прямой. Прямая MN также является опорной,
                                так как имеет с многоугольником общую точку С и многоугольник целиком лежит левее этой прямой.
                            </p>
                            <br>
                            <p>
                                Из основных теорем линейного программирования известно, что линейная форма достигает максимального
                                и минимального значений в крайних точках многогранника решений. Это значит, что опорные прямые mn и
                                MN характеризуют экстремальные значения линейной формы (функции цели), то есть в точках А и С линейная
                                форма достигает оптимальных значений. В точке А, находящейся ближе к началу координат, функция цели
                                достигает минимального значения, а в точке С, находящейся дальше от начала координат,
                                - максимального значения.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Схема решения задач линейного программирования графическим методом
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p>1. Построить многоугольник решений системы неравенств.</p>
                            <br>
                            <p>
                                2. Начертить из семейства прямых, соответствующих линейной форме,
                                линию равных значений функции цели. Для построения линии равных
                                значений придадим F некоторое числовое значение. Во многих задачах
                                удобно принять, что F = 1. Тогда получим
                                <img src="https://function-x.ru/linprog/gm008.gif" alt="">.
                                Запишем это уравнение прямой в отрезках:
                                <br>
                                <img src="https://function-x.ru/linprog/gm009.gif" alt="">
                                <br>
                                Затем, откладывая на оси
                                <img src="https://function-x.ru/linprog/gm001.gif" alt="">
                                число
                                <img src="https://function-x.ru/linprog/gm010.gif" alt="">
                                , а на оси
                                <img src="https://function-x.ru/linprog/gm002.gif" alt="">
                                - число
                                <img src="https://function-x.ru/linprog/gm011.gif" alt="">
                                , найдём точки пересечения линии равных значений с осями координат.
                                Прямая, проведённая через эти точки, и есть требуемая прямая.
                            </p>
                            <br>
                            <p>
                                3. Двигать прямую (или линейку) вдоль градиента - вектора
                                <img src="https://function-x.ru/linprog/gm007.gif" alt="">
                                 параллельно линии равных значений в сторону многоугольника решений до соприкосновения
                                с многоугольником решений. Если первая встреча с многоугольником решений произойдёт
                                в крайней точке с координатами
                                <img src="https://function-x.ru/linprog/gm012.gif" alt="">
                                , то в этой точке функция цели достигает минимального значения. Если первая встреча
                                произойдёт со стороной многоугольника, то данная функция цели достигает
                                минимума во всех точках этой стороны.
                            </p>
                            <br>
                            <p>
                                4. Двигаясь дальше, придём к некоторому опорному положению, когда прямая 
                                будет иметь одну общую точку
                                <img src="https://function-x.ru/linprog/gm013.gif" alt="">
                                 с многоугольником решений. В этой точке функция цели достигает своего максимума.
                            </p>
                            <br>
                            <p>
                                5. Если первоначально построенная линия равных значений пересекает многоугольник
                                решений, то функция цели достигает минимального значения в вершине многоугольника,
                                расположенной ближе к началу координат, а максимального значения - в вершине, более
                                удалённой от начала координат.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading3">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                Видео пример решения графическим методом
                            </button>
                        </h5>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/FCMjnTuxKGA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="https://math.semestr.ru/lp/index.php">Онлайн калькулятор для решения графическим методом</a>
                </div>
            </div>
            <hr>
        </div>
    </div> <!-- /container -->
</main>

{% endblock content %}