{% extends 'algoritm/base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Добро пожаловать!</h1>
            <p>
                Данное веб приложение разработано для демонстрации решения задач
                линейного программирования различными алгоритмами.
                <br>Создатель: Имяржанов Расул
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Подробнее &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Графический метод</h2>
                <p>
                    Наиболее простым и наглядным методом решения задач линейного
                    программирования является графический метод. Он применяется для задач
                    линейного программирования с двумя переменными, когда ограничения
                    выражены неравенствами, и задач со многими переменными при условии, что в
                    их канонической записи содержится не более двух свободных переменных.
                </p>
                <p><a class="btn btn-secondary" href="{% url 'graphical_method' %}" role="button">Подробнее &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Двойственный cимплекс-метод</h2>
                <p>
                    Двойственный симплекс-метод решения задач линейного программирования.
                    Метод, при котором вначале симплекс-методом решается одна из взаимно двойственных задач,
                    а затем оптимум и оптимальное решение другой задачи находятся с помощью теорем двойственности,
                    называется двойственным симплекс-методом.
                </p>
                <p><a class="btn btn-secondary" href="{% url 'dual_method' %}" role="button">Подробнее &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Транспортная задача</h2>
                <p>
                    Метод «северо-западного угла» состоит в последовательном переборе строк и столбцов транспортной таблицы, начиная с левого столбца и верхней строки, и выписывании максимально возможных отгрузок в соответствующие ячейки таблицы так, чтобы не были превышены заявленные в задаче возможности поставщика или потребности потребителя. На цены доставки в этом методе не обращают внимание, поскольку предполагается дальнейшая оптимизация отгрузок.
                </p>
                <p><a class="btn btn-secondary" href="{% url 'north_west_method' %}" role="button">Подробнее &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Парная регрессия</h2>
                <p>
                    Парная линейная регрессия - это зависимость между одной переменной и средним значением другой переменной. Чаще всего модель записывается как y=ax+b+e, где x - факторная переменная, y - результативная (зависимая), e - случайная компонента (остаток, отклонение).
                </p>                <p><a class="btn btn-secondary" href="{% url 'pare_method' %}" role="button">Подробнее &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">

</footer>
{% endblock %}